{% load static %}
:root {
    --color1: #05b1b1;
    --color2: #52339a;

}

header, footer, section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
}

header, footer {
    background: url(../img/favicon.ico)var(--color1);
    background: url(../img/favicon.ico)-moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: url(../img/favicon.ico)-webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url(../img/favicon.ico)linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: url(../img/favicon.ico)progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );

}